# Atividade aula 3
Grupo composto: 

Fabiano Thiele Fracassi
Ricardo Schmitt Martins,
Roberto Emilio de Senna,
Roberto Rodrigues Barbosa

In [ ]:
import pandas as pd
import seaborn as sns
from bcb import sgs, currency, TaxaJuros

## Informe de Resultados do MGLU3

In [ ]:
## Importa os dados do google drive
bp = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTq_-oCydZOtrO1J_eMkG849ttZbQ_N4kLSOSFWKIuTwQZ9FMEHjN1mlzK4c_Ba9xLUNf6s67PhXf9F/pub?gid=86692319&single=true&output=csv',
               header=1)
dre = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTq_-oCydZOtrO1J_eMkG849ttZbQ_N4kLSOSFWKIuTwQZ9FMEHjN1mlzK4c_Ba9xLUNf6s67PhXf9F/pub?gid=2092096157&single=true&output=csv',
                    header=1)

In [ ]:
## Transforma os dados de forma a deixar um dataframe limpo para os cálculos
# Trabalha com o dataframe do Balanço Patrimonial
bpr = bp.transpose().iloc[:,[4,5,27]]
bpr.rename(columns={4:'clientes',5:'estoques',27:'fornecedores'},inplace=True)
bpr.drop(index='Unnamed: 0',inplace=True)
#display(bpr.head())

# Trabalha com o dataframe da DRE
drer = dre.transpose().iloc[:,[2,3]]
drer.rename(columns={2:'receita_liq',3:'custos'},inplace=True)
drer.drop(index=' ',inplace=True)
#display(drer.head())

# Combina os dois dataframes
df = pd.concat([bpr.transpose(),drer.transpose()]).transpose()
df = df.astype({'clientes':float,'estoques':float,'fornecedores':float,'receita_liq':float,'custos':float}) 
#display(df.head())

# Converte o índice das colunas em formato data
df = df.reset_index()
df = df.rename(columns={'index':'data'})
df['data']=pd.to_datetime(df['data'].astype(str), format='%d/%m/%Y')

In [ ]:
## Efetua os cálculos dos indicadores
df['custos']=abs(df['custos'])
df['PME'] = (df['estoques'] / df['custos']) * 90
df['PMR'] = (df['clientes'] / df['receita_liq']) * 90
df['PMP'] = (df['fornecedores'] / df['custos']) * 90
df['CO'] = df['PME'] + df['PMR']
df['CC'] = df['CO'] - df['PMP']
df.head()

,data,clientes,estoques,fornecedores,receita_liq,custos,PME,PMR,PMP,CO,CC
0,2022-06-30,5621703.0,7965704.0,7380799.0,8562389.0,6109614.0,117.341842,59.090199,108.725676,176.432041,67.706365
1,2022-03-31,4801071.0,8077255.0,6248478.0,8762175.0,6330426.0,114.834760,49.313828,88.834941,164.148588,75.313647
2,2021-12-31,5650759.0,9112214.0,10098944.0,9399998.0,7025695.0,116.728560,54.103023,129.368690,170.831583,41.462893
3,2021-09-30,5427841.0,8126343.0,9177531.0,8612033.0,6877900.0,106.336363,56.723620,120.091567,163.059983,42.968416
4,2021-06-30,3779102.0,7496866.0,8241821.0,9013308.0,6705039.0,100.628489,37.735222,110.627826,138.363711,27.735884

In [ ]:
## Cria um novo dataframe apenas com as colunas dos indicadores
df2 = df.loc[:,['PME','PMR','PMP','CO','CC']]
df2.head().round(1)

     PME   PMR    PMP     CO    CC
0  117.3  59.1  108.7  176.4  67.7
1  114.8  49.3   88.8  164.1  75.3
2  116.7  54.1  129.4  170.8  41.5
3  106.3  56.7  120.1  163.1  43.0
4  100.6  37.7  110.6  138.4  27.7

## Indicadores Financeiros do Banco Central

In [ ]:
# Busca a série da SELIC no SGS
selic = sgs.get({'selic':432}, start = '2012-01-01')
# Busca a série do IPCA e IGP-M
inflacao = sgs.get({'ipca':433, 'igp-m':189}, start = '2012-01-01')
# Transforma a frequência da data em mensal
inflacao.index = inflacao.index.to_period('M')
# Importas moedas 
moeda = currency.get(['USD', 'EUR'], start='2012-01-01', end='2022-11-16')
# Importa Taxa média de juros das operações de crédito - Pessoas jurídicas - Total - %a.a.
juros = sgs.get({'juros_aa':20715}, start = '2012-01-01')

In [ ]:
def adjust_format(df):
    df = df.sort_values('Date',ascending=False).reset_index()
    df['Date'] = pd.to_datetime(df['Date'].astype(str), format='%Y-%m-%d')
    df['datenum'] = df['Date'].values.astype(float) / 1e10
    df.set_index(['datenum'], inplace=True)
    return df

In [ ]:
s=adjust_format(selic)
j=adjust_format(juros).drop('Date',axis=1)
m=adjust_format(moeda).drop('Date',axis=1)

In [ ]:
df3 = pd.concat([s, j, m], axis=1, join='outer')
df3['EUR']=df3['EUR'].fillna(method='ffill')
df3['USD']=df3['USD'].fillna(method='ffill')
df3['juros_aa']=df3['juros_aa'].fillna(method='bfill')
df3['juros_aa']=df3['juros_aa'].fillna(method='ffill')
df3

                  Date  selic  juros_aa     EUR     USD
datenum
166864320.0 2022-11-17  13.75     19.01     NaN     NaN
166855680.0 2022-11-16  13.75     19.01  5.5364  5.3204
166847040.0 2022-11-15  13.75     19.01  5.5364  5.3204
166838400.0 2022-11-14  13.75     19.01  5.4773  5.3013
166829760.0 2022-11-13  13.75     19.01  5.4773  5.3013
...                ...    ...       ...     ...     ...
132572160.0 2012-01-05  11.00     19.06  2.3511  1.8371
132563520.0 2012-01-04  11.00     19.06  2.3677  1.8272
132554880.0 2012-01-03  11.00     19.06  2.4057  1.8457
132546240.0 2012-01-02  11.00     19.06  2.4165  1.8683
132537600.0 2012-01-01  11.00     19.06  2.4165  1.8683

[3974 rows x 5 columns]

In [ ]:
df['datenum'] = df['data'].values.astype(float) / 1e10
df.set_index(['datenum'], inplace=True)
dados=pd.concat([df,df3], axis=1, join='inner')
dados = dados.drop('Date',axis=1)
dados.reset_index(drop=True,inplace=True)

In [ ]:
dados

,data,clientes,estoques,fornecedores,receita_liq,custos,PME,PMR,PMP,CO,CC,selic,juros_aa,EUR,USD
0,2022-06-30,5621703.0,7965704.0,7380799.0,8562389.0,6109614.0,117.341842,59.090199,108.725676,176.432041,67.706365,13.25,19.51,5.4842,5.2380
1,2022-03-31,4801071.0,8077255.0,6248478.0,8762175.0,6330426.0,114.834760,49.313828,88.834941,164.148588,75.313647,11.75,18.66,5.2561,4.7378
2,2021-12-31,5650759.0,9112214.0,10098944.0,9399998.0,7025695.0,116.728560,54.103023,129.368690,170.831583,41.462893,9.25,17.18,6.3210,5.5805
3,2021-09-30,5427841.0,8126343.0,9177531.0,8612033.0,6877900.0,106.336363,56.723620,120.091567,163.059983,42.968416,6.25,14.84,6.2983,5.4394
4,2021-06-30,3779102.0,7496866.0,8241821.0,9013308.0,6705039.0,100.628489,37.735222,110.627826,138.363711,27.735884,4.25,12.72,5.9276,5.0022
5,2021-03-31,3714318.0,6808443.0,7070516.0,8252813.0,6182711.0,99.108606,40.506021,102.923530,139.614628,36.691098,2.75,12.11,6.6915,5.6973
6,2020-12-31,4761899.0,5927236.0,8501398.0,10065793.0,7580243.0,70.373897,42.576964,100.936846,112.950861,12.014015,2.00,11.09,6.3779,5.1967
7,2020-09-30,4033864.0,5005934.0,6104258.0,8308326.0,6129592.0,73.501476,43.696860,89.628024,117.198336,27.570312,2.00,9.94,6.6132,5.6407
8,2020-06-30,4386122.0,4198175.0,5333983.0,5568245.0,4133041.0,91.418341,70.893249,116.151393,162.311590,46.160197,2.25,10.81,6.1539,5.4760
9,2020-03-31,2147035.0,4075499.0,4132662.0,5234749.0,3814276.0,96.163704,36.913546,97.512498,133.077251,35.564753,3.75,13.59,5.7264,5.1987
10,2019-12-31,2915034.0,3801763.0,5934877.0,6385025.0,4559638.0,75.040753,41.088807,117.145030,116.129560,-1.015470,4.50,13.38,4.5305,4.0307
11,2019-09-30,1874975.0,2885737.0,3802802.0,4864198.0,3439279.0,75.514761,34.691793,99.512770,110.206553,10.693784,5.50,14.00,4.5425,4.1644
12,2019-06-30,1460841.0,2556337.0,3395882.0,4308102.0,3215868.0,71.542218,30.518240,95.037912,102.060458,7.022546,6.50,14.92,4.3189,3.8193
13,2019-03-31,1761335.0,2484630.0,2973614.0,4328984.0,3117565.0,71.727999,36.618327,85.844324,108.346326,22.502002,6.50,15.77,4.3370,3.8682
14,2018-12-31,2051557.0,2810248.0,4105244.0,4610529.0,3314354.0,76.311197,40.047493,111.476312,116.358690,4.882378,6.50,14.74,4.4390,3.8748
15,2018-09-30,1657171.0,2106439.0,2653109.0,3670467.0,2580599.0,73.463374,40.633900,92.528831,114.097274,21.568443,6.50,15.66,4.6592,4.0273
16,2018-06-30,1507047.0,2110415.0,2749475.0,3696185.0,2588161.0,73.386992,36.695736,95.609489,110.082728,14.473239,6.50,15.59,4.5327,3.9055
17,2018-03-31,1410669.0,1937287.0,2456864.0,3613263.0,2569908.0,67.845164,35.137273,86.041119,102.982438,16.941319,6.50,16.55,4.0685,3.3104
18,2017-12-31,1241290.0,1969333.0,2919541.0,3621805.0,2565946.0,69.073928,30.845421,102.402268,99.919349,-2.482919,7.00,16.96,3.9370,3.2697
19,2017-09-30,663189.0,1545502.0,2120123.0,2856289.0,1973522.0,70.480684,20.896698,96.685555,91.377382,-5.308173,8.25,17.62,3.7170,3.1642
20,2017-06-30,503849.0,1430332.0,1860524.0,2699231.0,1864293.0,69.050240,16.799751,89.818049,85.849992,-3.968057,10.25,18.89,3.7750,3.3082
21,2017-03-31,578848.0,1454088.0,1762378.0,2806925.0,1974478.0,66.279756,18.559926,80.332128,84.839682,4.507554,12.25,20.32,3.3896,3.1684
22,2016-12-31,581001.0,1596743.0,2364959.0,2839275.0,1998621.0,71.903012,18.416705,106.496584,90.319717,-16.176867,13.75,20.29,3.4280,3.2729
23,2016-09-30,423054.0,1346252.0,1528453.0,2258732.0,1542821.0,78.533206,16.856741,89.161847,95.389947,6.228100,14.25,21.48,3.6484,3.2462
24,2016-06-30,404297.0,1306703.0,1427136.0,2147264.0,1464778.0,80.287436,16.945625,87.687172,97.233061,9.545889,14.25,21.68,3.5414,3.2098
25,2016-03-31,389638.0,1279280.0,1394133.0,2263474.0,1579910.0,72.874531,15.492743,79.417163,88.367273,8.950110,14.25,22.21,4.0539,3.5589
26,2015-12-31,435225.0,1353092.0,1894157.0,2535981.0,1814574.0,67.111223,15.445798,93.947191,82.557021,-11.390170,14.25,20.77,4.2504,3.9048
27,2015-09-30,431175.0,1208123.0,1186934.0,2082544.0,1468678.0,74.033294,18.633820,72.734840,92.667114,19.932273,14.25,20.73,4.4349,3.9729
28,2015-06-30,419449.0,1293376.0,1175110.0,2107301.0,1477769.0,78.769984,17.914104,71.567275,96.684088,25.116813,13.75,19.19,3.4603,3.1026
29,2015-03-31,480435.0,1388569.0,1239200.0,2252433.0,1638609.0,76.266644,19.196642,68.062607,95.463286,27.400680,12.75,18.20,3.4457,3.2080
30,2014-12-31,618276.0,1472738.0,1789898.0,2777374.0,2018152.0,65.677124,20.035055,79.820955,85.712179,5.891224,11.75,16.60,3.2270,2.6562
31,2014-09-30,583812.0,1268406.0,1388054.0,2390385.0,1710851.0,66.725004,21.981011,73.019135,88.706016,15.686881,11.00,16.46,3.0954,2.4510
32,2014-06-30,577419.0,1144160.0,1189518.0,2342759.0,1709040.0,60.252773,22.182269,62.641378,82.435042,19.793665,11.00,16.37,3.0150,2.2025
33,2014-03-31,510038.0,1263953.0,1528393.0,2268867.0,1648866.0,68.990306,20.231869,83.424226,89.222175,5.797949,10.75,16.53,3.1175,2.2630
34,2013-12-31,530620.0,1251362.0,1651543.0,2458301.0,1800814.0,62.539818,19.426344,82.539824,81.966162,-0.573662,10.00,15.64,3.2265,2.3426
35,2013-09-30,463675.0,1135483.0,1332284.0,2020802.0,1448395.0,70.556354,20.650588,82.785124,91.206942,8.421818,9.00,15.27,3.0181,2.2300
36,2013-06-30,458447.0,1051127.0,1306103.0,1843728.0,1308848.0,72.278393,22.378697,89.811246,94.657090,4.845844,8.00,14.73,2.9122,2.2297
37,2013-03-31,448829.0,974924.0,1169848.0,1765608.0,1267387.0,69.231545,22.878583,83.073536,92.110128,9.036592,7.25,14.65,2.5953,2.0186
38,2012-12-31,2104479.0,1068762.0,1328155.0,2213670.0,1491507.0,64.490867,85.560680,80.143070,150.051547,69.908477,7.25,13.82,2.6954,2.0435
39,2012-09-30,1963588.0,1306919.0,1175623.0,1844411.0,1226168.0,95.927075,95.815369,86.290027,191.742444,105.452417,7.50,15.17,2.6135,2.0260
40,2012-06-30,1966529.0,1131270.0,1018443.0,1801931.0,1198741.0,84.934360,98.221081,76.463448,183.155441,106.691993,8.50,16.04,2.5033,1.9893
41,2012-03-31,1884416.0,1134219.0,1040998.0,1805100.0,1230181.0,82.979423,93.954595,76.159378,176.934019,100.774640,9.75,18.49,2.4403,1.8314