https://www.fundamentus.com.br/
Empresa -> Dados Históricos -> Balanço em Excel
Subir no google planilhas e publicar on-line
Linhas: 7, 8, 30 do balanço (Contas a receber, Estoques, Fornecedores)
Linhas 5, 6 da DRE (Receita Líquida, Custos)

Locais onde as planilhas estão publicadas
Balanço patrimonial
https://docs.google.com/spreadsheets/d/e/2PACX-1vTq_-oCydZOtrO1J_eMkG849ttZbQ_N4kLSOSFWKIuTwQZ9FMEHjN1mlzK4c_Ba9xLUNf6s67PhXf9F/pub?gid=86692319&single=true&output=csv

DRE
https://docs.google.com/spreadsheets/d/e/2PACX-1vTq_-oCydZOtrO1J_eMkG849ttZbQ_N4kLSOSFWKIuTwQZ9FMEHjN1mlzK4c_Ba9xLUNf6s67PhXf9F/pub?gid=2092096157&single=true&output=csv

**Integrantes**



*   Fabiano Thiele Fracassi
*   Ricardo Schmitt Martins
*   Roberto Emilio de Senna
*   Roberto Rodrigues Barbosa

# Atividade aula 2
Escolher uma empresa e buscar o balanço no site fundamentus \
Entregar um dataframe com 5 colunas com os dados abaixo, e os trimestres nas linhas
### Calcular
1. PME = Estoques / Custo * 90 dias (info do fundamentus é trimestral)
1. PMR = Contas a Receber / Receita Líquida * 90 dias
1. PMP = Fornecedores / Custo * 90 dias
1. CO = PME + PMR
1. CC = CO - PMP

In [ ]:
import pandas as pd

In [ ]:
## Importa os dados do google drive
bp = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTq_-oCydZOtrO1J_eMkG849ttZbQ_N4kLSOSFWKIuTwQZ9FMEHjN1mlzK4c_Ba9xLUNf6s67PhXf9F/pub?gid=86692319&single=true&output=csv',
               header=1)
dre = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTq_-oCydZOtrO1J_eMkG849ttZbQ_N4kLSOSFWKIuTwQZ9FMEHjN1mlzK4c_Ba9xLUNf6s67PhXf9F/pub?gid=2092096157&single=true&output=csv',
                    header=1)

In [ ]:
## Transforma os dados de forma a deixar um dataframe limpo para os cálculos
# Trabalha com o dataframe do Balanço Patrimonial
bpr = bp.transpose().iloc[:,[4,5,27]]
bpr.rename(columns={4:'clientes',5:'estoques',27:'fornecedores'},inplace=True)
bpr.drop(index='Unnamed: 0',inplace=True)
#display(bpr.head())

# Trabalha com o dataframe da DRE
drer = dre.transpose().iloc[:,[2,3]]
drer.rename(columns={2:'receita_liq',3:'custos'},inplace=True)
drer.drop(index=' ',inplace=True)
#display(drer.head())

# Combina os dois dataframes
df = pd.concat([bpr.transpose(),drer.transpose()]).transpose()
df = df.astype({'clientes':float,'estoques':float,'fornecedores':float,'receita_liq':float,'custos':float}) 
#display(df.head())

# Converte o índice das colunas em formato data
df = df.reset_index()
df = df.rename(columns={'index':'data'})
df['data']=pd.to_datetime(df['data'].astype(str), format='%d/%m/%Y')
df.head()

        data   clientes   estoques  fornecedores  receita_liq     custos
0 2022-06-30  5621703.0  7965704.0     7380799.0    8562389.0 -6109614.0
1 2022-03-31  4801071.0  8077255.0     6248478.0    8762175.0 -6330426.0
2 2021-12-31  5650759.0  9112214.0    10098944.0    9399998.0 -7025695.0
3 2021-09-30  5427841.0  8126343.0     9177531.0    8612033.0 -6877900.0
4 2021-06-30  3779102.0  7496866.0     8241821.0    9013308.0 -6705039.0

In [ ]:
## Efetua os cálculos dos indicadores
df['custos']=abs(df['custos'])
df['PME'] = (df['estoques'] / df['custos']) * 90
df['PMR'] = (df['clientes'] / df['receita_liq']) * 90
df['PMP'] = (df['fornecedores'] / df['custos']) * 90
df['CO'] = df['PME'] + df['PMR']
df['CC'] = df['CO'] - df['PMP']
df.head()

,data,clientes,estoques,fornecedores,receita_liq,custos,PME,PMR,PMP,CO,CC
0,2022-06-30,5621703.0,7965704.0,7380799.0,8562389.0,6109614.0,117.341842,59.090199,108.725676,176.432041,67.706365
1,2022-03-31,4801071.0,8077255.0,6248478.0,8762175.0,6330426.0,114.834760,49.313828,88.834941,164.148588,75.313647
2,2021-12-31,5650759.0,9112214.0,10098944.0,9399998.0,7025695.0,116.728560,54.103023,129.368690,170.831583,41.462893
3,2021-09-30,5427841.0,8126343.0,9177531.0,8612033.0,6877900.0,106.336363,56.723620,120.091567,163.059983,42.968416
4,2021-06-30,3779102.0,7496866.0,8241821.0,9013308.0,6705039.0,100.628489,37.735222,110.627826,138.363711,27.735884

In [ ]:
## Cria um novo dataframe apenas com as colunas dos indicadores
df2 = df.loc[:,['PME','PMR','PMP','CO','CC']]
df2.head().round(1)

     PME   PMR    PMP     CO    CC
0  117.3  59.1  108.7  176.4  67.7
1  114.8  49.3   88.8  164.1  75.3
2  116.7  54.1  129.4  170.8  41.5
3  106.3  56.7  120.1  163.1  43.0
4  100.6  37.7  110.6  138.4  27.7